.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 270px; /* Set a maximum width for the card */
  height: auto; /* Adjust the height to maintain the aspect ratio */
  background-color: white;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
  height: auto; /* Adjust the height to fit the card */
  object-fit: cover;
}

.details {
  padding: 1rem;
  text-align: center;
}

.details h3 {
  margin: 0;
  color: black; /* Ensure the text color is set to black or another visible color */
}

@media (max-width: 768px) {
  .card {
    max-width: 100%; /* Make the card take full width on mobile devices */
  }
}